/* fuentes locales */
@font-face {
    font-family: 'CreamCake';
    src: url('fonts/Cream Cake.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CreamCakeBold';
    src: url('fonts/Cream Cake Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* estilos generales */

html {
  scroll-behavior: smooth;
}

.header {
    background-color: rgb(255, 124, 131);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    padding: 10px;}

.icon {
    display: flex;
    justify-content: center;
    width: 250px;
    height: auto;
    margin: 50px;
    border-radius: 300px;
    box-shadow: #3333339d 0px 4px 8px;

}

body {
    margin: 0;
    padding: 0;
}

nav.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav.nav ul li a {
    font-family: 'CreamCakeBold', sans-serif;
    text-decoration: none;
    color: rgb(106, 28, 22);
    font-weight: bold;
    font-size: 48px;
    background-color: rgb(255, 124, 131);
    padding: 10px 15px;
    border-radius: 10px;
}

nav.nav ul li a:hover {
    box-shadow: rgb(106, 28, 22) 0px 1px 6px, rgb(106, 28, 22) 0px 1px 4px;
}


.contenedor {
    display: flex;
    align-items: center;   /* Centra verticalmente texto e imagen */
    justify-content: center; /* Opcional: centra todo el bloque */
    gap: 20px;             /* Espacio entre párrafo e imagen */
}


p.Parrafo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(106, 28, 22);
    text-align: justify;
    margin: 0 20px 20px 20px;
    justify-content: right;
}

.Titulo_principal {
    font-family: 'CreamCakeBold', sans-serif;
    font-size: 2.5rem;
    color: rgb(106, 28, 22);
    text-align: center;
    margin: 20px;
    background-color: rgb(255, 124, 131);
    padding: 5px;
    border-radius: 20px;
}

.fotofamilia {
    display: inline-flex;
    justify-content: right;
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: #3333339d 0px 4px 8px;
    padding: 10px;
}

.fotoPromesa {
    display: inline-flex;
    justify-content: right;
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: #3333339d 0px 4px 8px;
    padding: 10px;
    margin: 20px;
}

.producto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 40px 0;
}
.producto img {
    padding: 10px;
    width: 700px;
    height: auto;
    border-radius: 20px;
    box-shadow: #3333339d 0px 4px 8px;
}

.Parrafo_producto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(106, 28, 22);
    text-align: justify;
    margin: 0 20px 20px 20px;
    justify-content: right;
    width: 500px;
}

.Parrafo_final {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
    color: rgb(106, 28, 22);
    text-align: center;
    margin: 20px;
    justify-content: center;
}

.Parrafo_contacto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(106, 28, 22);
    text-align: center;
    margin: 20px;
    justify-content: center;
}

.contenedor_telefono {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icono_Whatsapp {
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.Numero_contacto {
    font-family: 'times New Roman', Times, serif;
    font-size: 3.5rem;
    color: rgb(106, 28, 22);
    text-align: center;
    margin: 20px;
    justify-content: center;
}

footer {
    font-family: 'times New Roman', Times, serif;
    text-align: center;
    color : rgb(106, 28, 22);
    padding: 3px;
    background-color: rgb(255, 124, 131);
    font-size: 16px;
}
